/*
	modules.playframework.org overrides to the CSS from http://www.playframework.org/

	Blue: #19ADE4 (light) #1999CE (normal) #1388B5 (text) #1487B4 (dark text) #C2D8DF (light text)
*/

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

table {
	border-collapse:collapse;
}
th, td {
	border: 1px solid #19ADE4;
	padding: 0 0.2em;
	vertical-align:top;
}

body.descriptions h2.module {
  clear:both;
  padding-top: 0.5em;
  border-top: 2px solid #19ADE4;
  margin-top: 0.5em;
}

body.descriptions pre {
  background-color:#E9F4F9;
}

body.descriptions code {
  color:#1487B4;
}

body.descriptions pre code {
  color:black;
}

body.descriptions .textile {
  clear:left;
}

body.descriptions .textile, body.descriptions .markdown {
  float:left;
}

body.descriptions .description {
  width:45%;
  margin: 0 5% 0.5em 0;
  border-top: dotted 1px #19ADE4;
  padding-top: 0.5em;
}

body.descriptions .markup {
  font-family:monospace;
  white-space:pre-wrap;
  overflow:scroll;
  font-size:smaller;
}

