#{extends 'main.html' /}
#{set title:'Home' /}

<h1>${modules.size()} modules</h1>

<p>
  <a href="@{yaml()}">YAML export for modules.playframework.org</a> |
  <a href="@{users()}">Module authors</a>
</p>
		
<table>
<tr>
	<th>name</th>
	<!--<th>fullname</th>-->
	<!--<th>releases</th>-->
	<th>author</th>
	<th>summary</th>
</tr>
#{list modules, as:'module'}
	<tr>
		<td>${module.name}</td>
		<!--<td>${module.fullname}</td>-->
		<!-- <td>${module.releases.join(' ')}</td> -->
		<td>${module.user?.name}</td>
		<td>&{'description.' + module.name}</td>
	</tr>
#{/list}
</table>
